<div>
  <h1>GPC DEMO</h1>
  <input
    type="file"
    id="file"
    (change)="handleFileInput($event.target.files)"
  /><br /><br />
  <button type="button" (click)="submit()">SUBMIT</button>
  <br /><br />
  <div *ngIf="submitted">
    <h2>Input:</h2>
    {{ inputData }}
    <br /><br />
    <h2>Output:</h2>
    <ul>
      <li>Output #1: {{ output1 || "NO SUCH ROUTE" }}</li>
      <li>Output #2: {{ output2 || "NO SUCH ROUTE" }}</li>
      <li>Output #3: {{ output3 || "NO SUCH ROUTE" }}</li>
      <li>Output #4: {{ output4 || "NO SUCH ROUTE" }}</li>
      <li>Output #5: {{ output5 || "NO SUCH ROUTE" }}</li>
      <li>Output #6: {{ output6 }}</li>
      <li>Output #7: {{ output7 }}</li>
      <li>Output #8: {{ output8 }}</li>
      <li>Output #9: {{ output9 }}</li>
      <li>Output #10: {{ output10 }}</li>
    </ul>
  </div>
</div>
